@font-face {
    font-family: 'Gang of three';
    src: url('../media/letra1.ttf'); 
}
@font-face {
    font-family: 'Poppins';
    src: url(../media/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Receipt';
    src: url(../media/Receiptional\ Receipt.ttf);
}
body{
    background-color: #181a1b;
}
.vacio{
    height:150px;
}
.cont3{
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
.imagen{
    box-sizing:border-box;
    border-radius: 20px;
}
.section1:first-child{
    border-radius: 8px;
    position: relative;
    background-color:cadetblue;
    display:flex;
    flex-grow:1;
    justify-content:center;
    align-items: center;
    overflow: hidden;
}
.fil{
    max-width: 1080px;
    width: 100%;

}

.fil a{
    max-width: 500px;
    margin: 3px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;

}
.filaT{
    max-width: 1080px;
    justify-content:center;
    align-items: center;
    background-color: #aaa59e;
    border-radius: 10px;
    font-family: 'Poppins';

}
.filaT a{
    display: flex;
    padding: 10px;
    justify-content:center;
    align-items: center;
    flex-grow:1;
    text-decoration: none;

}
.texto{
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 3px;
    height: max-content;
    padding:20px;
    flex-grow: 1;

}
.col {
    max-width: 500px;
    margin: 3px;
    background-color: #7b223b;
    border: 3px solid #551829;
    box-sizing:border-box;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gang of three';
    color: #e8e6e3;
    overflow: hidden;
    transition: background-color 0.3s;
}
.col:hover{
    background-color:brown;
}
.video{
    height: 100%;
    position: absolute;

}
.text-overlay{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
    color: #e8e6e3; /* Text color */
    padding: 10px;
    border-radius: 5px;
    font-size: 20px; /* Full width */
    font-family: 'Gang of three';
    text-align: center;

}

.text{
    padding: 10px;
    background-color: #181a1b; 
    border-radius: 5px;
    font-size: 13px;
    text-align: left; /* Alinear el texto a la izquierda */
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.grupo{
    position: fixed;
    width: 100%;
    bottom:0px;
    display:flex;
    text-align: center;
    justify-content: center;
    background-color: #181a1b;
    border-right:200px;
    border-left:200px;
}

.box{
    color:#e8e6e3;
}

.box img{
    width:auto;
    height: 70px;
}

.box p{
    color:#9f9f9f;
    font-family: "Poppins";
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    color:#e8e6e3;
    background-color: #7b223b;
    padding-bottom: 20px;
} 

nav img{
    width: 60px;

}

ul li{
    display: inline-block;
    padding: 0px 20px;
}

a{
    color:#e8e6e3;
    font-family: "Poppins";
    text-decoration: none;
}

a:hover{
    color:black
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  } */

.breadcrumb{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

.breadcrumb ul{
    display: flex;
    padding-left: 0px;
}

.breadcrumb ul li{
    width: 100px;
    margin-right: 25px;
    position: relative;
}

.breadcrumb img{
    width: 40px;
    padding-top: 9px;
}

.breadcrumb ul li:before{
    font-family: "Poppins";
    content: ">";
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    right: -15px;
    font-size: 25px;
    font-weight: bold;
    color: #e8e6e3;
}

.breadcrumb ul li:last-child{
    margin-right: 0;
}

.breadcrumb ul li:last-child:before{
    display: none;
}

.breadcrumb ul li a{
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.breadcrumb ul li a .icon{
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 12px;
    font-size: 22px;
    text-align: center;
    background:#bf5f6a;
    color: #e8e6e3;
    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px #7b223b; 
}

.breadcrumb ul li.active a .icon{
    background: #e8e6e3;
    color: brown;
}

.breadcrumb ul li.active a{
    color: #e8e6e3;
}


.modal {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    /*background-color: rgba(200, 200, 200, 0.8);*/
    z-index: 999;
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

::-webkit-scrollbar {
    display: none;
}

.imagencarta{
    box-sizing:border-box;
    min-width: 80px;
    max-width: 200px;
    border-radius: 20px;
    width:100%;
    height:auto;
    flex-grow: 1;
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
}
.textocarta{
    display:flex;
    justify-content:center;
    margin: 12px 0px 0px 10px;
    max-height:120px;
    width: 95%;
    flex-grow: 1;
    overflow-y: scroll;
    color: #e8e6e3;
    font-family: 'Poppins';
}
.aumentar,
.disminuir{
    border-bottom: 16px solid #611329;
    height: 20%;
    padding: 10px;
    margin-top:10px;
    font-family: "Poppins";
    background-color: #611329;
    color: #e8e6e3;
}
.cantidad{
    margin:15px;
    color: #e8e6e3;
    font-family: 'Receipt';

}
.cantidades{
    margin:0px 10px 0px 20px;
}
.filcarta{
    width: 100%;
    display:flex;
    box-sizing:border-box;
    margin-bottom: 15px;
}
.titulotexto{
    display: block;
    flex-grow: 1;
}

#ir-a-pago{
    height:100px;
    width: 100%;
    margin-left: 30px;
    font-size: 30px;
}
.titulocarta{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gang of three';
    color: #e8e6e3;
    overflow:-moz-hidden-unscrollable;
    font-size: x-large;
}
.precios{
    display:block;
    font-family: 'Poppins';
    color: #e8e6e3;
    padding-bottom:30px;
    margin: 0px 10px 0px 0px;
    overflow:visible
}
.total{
    padding-top: 50px;
}
.pasar-a-pago{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-family: 'Poppins';
    color: #e8e6e3;
    overflow:-moz-hidden-unscrollable;

}
th{
    font-family: 'Receipt';
    color: #e8e6e3;
    font-size: 36px;
    border-right:70px solid #181a1b;
}
td{
    font-family: 'Receipt';
    border:20px solid #181a1b;
    color: #e8e6e3;
    font-size: 26px;
}
.resumen-pedido p{
    display: inline;
    font-family: 'Receipt';
    color: #e8e6e3;
    font-size: 36px;
    white-space: nowrap;
}
.pago{
    display:flex;

}

.boton-pago{
    font-size: 30px;
    margin:30px 70px 0px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.vacio2{
    height: 100px;
    width: 100%;
}
































.container {
    height:1080px;;
    padding: 20px;
    background-color: #181a1b;
    text-align: center;
    display:block;
    color: #ccc;
    font-family: 'Poppins';
}

#exito{
    display: none;
    color:chartreuse;
}

h1 {
    padding-right:8%;
    text-align: center;
    color:#ccc;
}
#contact-form label{
    display: block;
    text-align: left;

}
#contact-form input, #contact-form textarea{
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.grid-priv {
    display: flex;
    align-items: left;

}
.grid-priv input[type="checkbox"] {
    margin-right: 10px; /* Agrega un margen derecho entre el checkbox y el texto */

}
button {
    display: block;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: #0077FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:disabled {
    background-color: #2e2e2e;
    cursor: not-allowed;
}
/* footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
} */
/* .redes-sociales a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
} */
.grid-name-email{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.name,
.phone-email {
    display: flex;
    flex-direction: column;
    width: 89%;
}

.name input,
.phone-email input {
    width: 100%;
    background-color: #2e2e2e;
    color:#e8e6e3;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#asunto, #mensaje{
    color:#ccc;
    background-color: #2e2e2e;
    display: block;
}
#enviar{
    font-family: "Poppins";
}

@media only screen and (max-width: 600px) {
    html{
        scroll-behavior: smooth;
    }
    @font-face {
        font-family: 'Gang of three';
        src: url('../media/letra1.ttf'); 
    }
    @font-face {
        font-family: 'Poppins';
        src: url(../media/Poppins-Regular.ttf);
    }
    @font-face {
        font-family: 'Receipt';
        src: url(../media/Receiptional\ Receipt.ttf);
    }

    .logo img{
        display:flex;
        width: 70px;
        justify-content: center;
        align-items: center;
        padding-left: 32%;
        padding-right: 40px;

    }

    

    #cont1{
        width: 100%;
        height: 100%;
    }
    .cont2{
        width: 100%;
        height: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    .cont3{
        margin-top: 20px;
    }

    .imagen{
        width:100%;
        height:fit-content;
        flex-grow: 0.5;
        display: flex;
        justify-content:center;
        align-items: center;
        overflow: hidden;
    }
    .section1:first-child{
        top: 2px;;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 320px;
        width: 100%;
        
    }
    .fil{
        display: inline-flex;
    }
    .filaT{
        width: 96%;
        height: auto;

        margin:auto;
    }

    .filaT img{
        padding:10px;
        width:100%;
        height:100%;
    
    }
    .texto{
        flex-grow:1;
        max-width: 500px;
        width: 100%;
        box-sizing: border-box;
    }
   
    .col {

        height: 100px;
        width: 100%;
        border-radius: 50px;

    
    }
 
    .fil a{

        text-decoration: none;
    }
    .column{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .centrado{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .grupo{
        max-width: 2200px;
        grid-gap:10px;
        padding:4px;

    }

    .box p{
        font-size: 12px;
    }


    header {
        background-color: #7b223b;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .nav-links {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1; /*Permite que la lista de enlaces crezca y ocupe todo el espacio disponible*/
        margin: 0;
        padding: 0;
    }

    .nav-links li {
        padding: 10px;
    }
    
    .logo img{
        display:flex;
        width: 70px;
        justify-content: center;
        align-items: center;
        padding-left: 32%;

    }
    
    .nav-links a {
        color:#e8e6e3;
        text-decoration: none;
        font-family: 'Poppins';
    }

    .box img{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    /* Style for the pop-up window container */
    .pop-up-window {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001;
        background-color: #fff;
    }
    .grid-name-email {
        grid-template-columns: 1fr; /* Cambiamos a una sola columna en versiones móviles */
    }
    .name,
    .phone-email {
        width: 100%;
        flex-direction: column; /* Cambiamos la dirección de los elementos en versión móvil */
    }
    .name input,
    .phone-email input {
        margin-bottom: 10px; /* Mantenemos el margen inferior en versión móvil */
    }
    .politica{
        display: flex;
        flex-direction:row;        
    }
    .breadcrumb{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    
    }
    
    .breadcrumb ul{
        display: flex;
        padding-left: 0px;
    }
    
    .breadcrumb ul li{
        width: 50px;
        position: relative;
        padding:5px;
        margin-right:18px;
    }
    
    .breadcrumb img{
        width: 20px;
        padding-top: 3px;
    }
    
    .breadcrumb ul li:before{
        font-family: "Poppins";
        content: ">";
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        right: -15px;
        font-size: 18px;
        font-weight: bold;
        color: #e8e6e3;
    }
    
    
    .breadcrumb ul li a{
        text-align: center;
        color: #fff;
        font-size: 13px;
    }
    
    .breadcrumb ul li a .icon{
        display: block;
        width: 30px;
        height: 30px;
        line-height: 40px;
        margin: 0 auto 12px;
        font-size: 12px;
        text-align: center;
        background:#bf5f6a;
        color: #e8e6e3;
        border-radius: 50%;
        box-shadow: 0px 3px 6px 0px #7b223b; 
    }
    .cantidad{
        margin:0px;
    }
    th{
        font-size: 10px;
        border:10px solid #181a1b;
    }
    td{
        font-family: "Receipt";
        font-size: 10px;
        border:10px solid #181a1b;
        color:#e8e6e3;

    }
    .resumen-pedido p{
        font-size: 16px;
    }
    .pago{
        display:block;

    }
    .boton-pago{
        font-size: 30px;
        margin:30px 70px 0px 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    

    

    
    

}
@media only screen and (min-width: 600px) {
    html{
        scroll-behavior: smooth;
    }
    @font-face {
        font-family: 'Gang of three';
        src: url('../media/letra1.ttf'); 
    }
    @font-face {
        font-family: 'Poppins';
        src: url(../media/Poppins-Regular.ttf);
    }

    #cont1{
        width: 100%;
        height: 100%;
        display: flex;
        padding-top: 25px;
    }
    .cont2{
        width: 100%;
        height: 100%;
        margin-top: 250px;
    }


    .imagen{
        height: 100%;
        width: fit-content;
        height: auto;
        width: 26%;
        flex-grow: 0.5;
        display: flex;
        padding:10px;
    }
    .section1:first-child{

        margin: 3px;
        height: 313px;
        width: 40%;

    }
    .fil{

        display: flex;
        box-sizing:border-box;
    }
    .fil a{

        padding: auto;
    }

    .filaT{
        width: 100%;
        height: 380px;
        max-height: 500px;
        display: flex;
    }

    .texto{
        flex-grow:1;
        max-width: 500px;
        width: 16%;
        box-sizing: content-box;
        border-radius: 8px;
        display: flex;
    }
    .column{
        max-width: 500px;
        height: 100px;
        width: 16%;
        box-sizing:border-box;
        flex-grow: 1;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;

    }
    .col {

        height: 100px;
        width: 16%;
        border-radius: 50px;
        text-decoration: none;

    }
    .col a {
        text-decoration: none; /* Remove underline */
        color:#e8e6e3; /* Set your desired link color */
    }

    .video{
        width: fit-content;

    }

    .centrado{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .grupo{
        max-width: 2200px;
        grid-gap:20px;
        padding-top:5px;
        padding-bottom: 10px;
    }
    /*.box h2{
        margin-bottom:25px;
        font-size:20px;
    }*/
    .redes a{
        display:inline-block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        margin-right:10px;
    }
    .box img{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        border-radius: 10px;
    }

}
@media only screen and (min-width: 992px) {
    html{
        scroll-behavior: smooth;
    }
    @font-face {
        font-family: 'Gang of three';
        
        src: url('../media/letra1.ttf'); 
    }
    @font-face {
        font-family: 'Poppins';
        src: url(../media/Poppins-Regular.ttf);
    }
    
    #cont1{
        width: auto;
        display: flex;
        padding-top: 25px;

    }
    .cont2{
        width: auto;
        max-width: 1080px;
        margin: 0 auto;
    }
    .cont3{
        width: auto;
        max-width: 1080px;
        margin: 0 auto;
    }

    .imagen{
        height: 100%;
        width: 46%;
        flex:1;
        display: flex;
        padding:10px;
    }
    .section1:first-child{
        margin: 3px;
        height:550px;
        width: 100%;

    }
    .fil{
 
        display: flex;
        box-sizing:border-box;
        margin-top:38px;
    }
    .fil a{
        padding: auto;
    }

    .filaT{
        width: 100%;
        height: 380px;
        max-height: 500px;
        display: flex;
        margin-bottom:30px;
    }

    .filaT:first-child{
        margin-top: 20px;
    }

    .texto{
        flex:1;
        width: 100%;
        box-sizing: content-box;
        border-radius: 8px;
        font-size: 20px;
    }
    .column{
        max-width: 1080px;
        height:560px;
        box-sizing:border-box;
        flex-grow: 1;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;

    }
    .col {

        height: 175px;
        width: 16%;
        border-radius: 90px;
        text-decoration: none;
        font-size:30px;

    }

    .col a {
        text-decoration: none; /* Remove underline */
        color:#e8e6e3; /* Set your desired link color */
        
    }

    .video{
        width:auto;

    }

    
    .pie{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    .box{
        text-align: center;
        padding:10px;

    }
    
}