
body{
    background-color: #181a1b;
}
.vacio{
    height:115px;
}
.cont3{
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
.imagen{
    box-sizing:border-box;
    border-radius: 20px;
}
.section1:first-child{
    border-radius: 8px;
    position: relative;
    background-color:cadetblue;
    display:flex;
    flex-grow:1;
    justify-content:center;
    align-items: center;
    overflow: hidden;
}
.fil{
    max-width: 1080px;
    width: 100%;

}
.fil a{
    max-width: 500px;
    margin: 3px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;

}
.filaT{
    max-width: 1080px;
    justify-content:center;
    align-items: center;
    background-color: #aaa59e;
    border-radius: 10px;
    font-family: 'Poppins';

}
.filaT a{
    display: flex;
    padding: 10px;
    justify-content:center;
    align-items: center;
    flex-grow:1;
    text-decoration: none;

}
.texto{
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 3px;
    height: max-content;
    padding:20px;
    flex-grow: 1;

}
.col {
    max-width: 500px;
    margin: 3px;
    background-color: #7b223b;
    border: 3px solid #551829;
    box-sizing:border-box;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gang of three';
    color: #e8e6e3;
    overflow: hidden;
    transition: background-color 0.3s;
}
.col:hover{
    background-color:brown;
}
.video{
    height: 100%;
    position: absolute;

}
.text-overlay{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
    color: #e8e6e3; /* Text color */
    padding: 10px;
    border-radius: 5px;
    font-size: 20px; /* Full width */
    font-family: 'Gang of three';
    text-align: center;

}

.text{
    padding: 10px;
    background-color: #181a1b; 
    border-radius: 5px;
    font-size: 13px;
    text-align: left; /* Alinear el texto a la izquierda */
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.grupo{
    position: fixed;
    width: 100%;
    bottom:0px;
    display:flex;
    text-align: center;
    justify-content: center;
    background-color: #181a1b;
}

.box{
    color:#e8e6e3;
}

.box img{
    width:auto;
    height: 70px;
}

.box p{
    color:#9f9f9f;
    font-family: "Poppins";
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    color:#e8e6e3;
    background-color: #7b223b;
    padding-bottom: 20px;
}

nav img{
    width: 60px;

}

ul li{
    display: inline-block;
    padding: 0px 20px;
}

a{
    color:#e8e6e3;
    font-family: "Poppins";
    text-decoration: none;
}

a:hover{
    color:black
}

.modal {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    /*background-color: rgba(200, 200, 200, 0.8);*/
    z-index: 999;
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

#popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    /*background: rgba(200, 200, 200, 0.8); /* Semi-transparent background */
    z-index: 1000; /* Ensure the overlay is on top */
}

/* Style for the pop-up window container */
.pop-up-window {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    border: 1px solid #000; /* Add your preferred border styles */
    display: flex;
}

/* Style for step-text 1 */
.step-text:nth-child(1) {
    margin: 10px;
    text-align: left;
    flex: 1;
}

/* Style for step-text 2 */
.step-text:nth-child(2) {
    margin: 10px;
    text-align: center;
    flex: 1;
}

/* Style for step-text 3 */
.step-text:nth-child(3) {
    margin: 10px;
    text-align: right;
    flex: 1;
}

/* Style for dots */
.dot {
    width: 20px;
    height: 20px;
    background-color: #000; /* Add your preferred background color */
    border-radius: 50%;
    margin: 0 auto;
}

/* Style for lines */
.line {
    width: 2px;
    background-color: #000; /* Add your preferred background color */
    margin: 0 auto;
}
/* Style for the vertical alignment of dots and lines */
.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 600px) {
    html{
        scroll-behavior: smooth;
    }
    @font-face {
        font-family: 'Gang of three';
        src: url('../media/letra1.ttf'); 
    }
    @font-face {
        font-family: 'Poppins';
        src: url(../media/Poppins-Regular.ttf);
    }

    .logo img{
        display:flex;
        width: 70px;
        justify-content: center;
        align-items: center;
        padding-left: 32%;
        padding-right: 40px;

    }

    

    #cont1{
        width: 100%;
        height: 100%;
    }
    .cont2{
        width: 100%;
        height: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    .cont3{
        margin-top: 20px;
    }

    .imagen{
        width:100%;
        height:fit-content;
        flex-grow: 0.5;
        display: flex;
        justify-content:center;
        align-items: center;
        overflow: hidden;
    }
    .section1:first-child{
        top: 2px;;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 313px;
        width: 100%;
        
    }
    .fil{
        display: inline-flex;
    }
    .filaT{
        width: 96%;
        height: auto;

        margin:auto;
    }

    .filaT img{
        padding:10px;
        width:100%;
        height:100%;
    
    }
    .texto{
        flex-grow:1;
        max-width: 500px;
        width: 100%;
        box-sizing: border-box;
    }
   
    .col {

        height: 100px;
        width: 100%;
        border-radius: 50px;
    
    }
 
    .fil a{

        text-decoration: none;
    }
    .column{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .centrado{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .grupo{
        max-width: 1200px;
        grid-gap:10px;
        padding:4px;

    }

    .box p{
        font-size: 12px;
    }


    header {
        background-color: #7b223b;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 10px;
    
    }

    .nav-links {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1; /* Permite que la lista de enlaces crezca y ocupe todo el espacio disponible */
        margin: 0;
        padding: 0;
    }

    .nav-links li {
        padding: 10px;
    }
    
    .logo img{
        display:flex;
        width: 70px;
        justify-content: center;
        align-items: center;
        padding-left: 32%;

    }
    
    .nav-links a {
        color:#e8e6e3;
        text-decoration: none;
        font-family: 'Poppins';
    }

    .box img{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    /* Style for the pop-up window container */
    .pop-up-window {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001;
        background-color: #fff;
    }

}
@media only screen and (min-width: 600px) {
    html{
        scroll-behavior: smooth;
    }
    @font-face {
        font-family: 'Gang of three';
        src: url('../media/letra1.ttf'); 
    }
    @font-face {
        font-family: 'Poppins';
        src: url(../media/Poppins-Regular.ttf);
    }

    #cont1{
        width: 100%;
        height: 100%;
        display: flex;
        padding-top: 25px;
    }
    .cont2{
        width: 100%;
        height: 100%;
        margin-top: 250px;
    }


    .imagen{
        height: 100%;
        width: fit-content;
        height: auto;
        width: 26%;
        flex-grow: 0.5;
        display: flex;
        padding:10px;
    }
    .section1:first-child{

        margin: 3px;
        height: 313px;
        width: 40%;

    }
    .fil{

        display: flex;
        box-sizing:border-box;
    }
    .fil a{

        padding: auto;
    }

    .filaT{
        width: 100%;
        height: 380px;
        max-height: 500px;
        display: flex;
    }

    .texto{
        flex-grow:1;
        max-width: 500px;
        width: 16%;
        box-sizing: content-box;
        border-radius: 8px;
        display: flex;
    }
    .column{
        max-width: 500px;
        height: 100px;
        width: 16%;
        box-sizing:border-box;
        flex-grow: 1;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;

    }
    .col {

        height: 100px;
        width: 16%;
        border-radius: 50px;
        text-decoration: none;

    }
    .col a {
        text-decoration: none; /* Remove underline */
        color:#e8e6e3; /* Set your desired link color */
    }

    .video{
        width: fit-content;

    }

    .centrado{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .grupo{
        max-width: 1200px;
        grid-gap:20px;
        padding-top:5px;
        padding-bottom: 10px;
    }
    /*.box h2{
        margin-bottom:25px;
        font-size:20px;
    }*/
    .redes a{
        display:inline-block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        margin-right:10px;
    }
    .box img{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        border-radius: 10px;
    }

}
@media only screen and (min-width: 992px) {
    html{
        scroll-behavior: smooth;
    }
    @font-face {
        font-family: 'Gang of three';
        
        src: url('../media/letra1.ttf'); 
    }
    @font-face {
        font-family: 'Poppins';
        src: url(../media/Poppins-Regular.ttf);
    }
    
    #cont1{
        width: auto;
        display: flex;
        padding-top: 25px;

    }
    .cont2{
        width: auto;
        max-width: 1080px;
        margin: 0 auto;
    }
    .cont3{
        width: auto;
        max-width: 1080px;
        margin: 0 auto;
    }

    .imagen{
        height: 100%;
        width: 46%;
        flex:1;
        display: flex;
        padding:10px;
    }
    .section1:first-child{

        margin: 3px;
        height:550px;
        width: 100%;


    }
    .fil{
 
        display: flex;
        box-sizing:border-box;
        margin-top:38px;
    }
    .fil a{
        padding: auto;
    }

    .filaT{
        width: 100%;
        height: 380px;
        max-height: 500px;
        display: flex;
        margin-bottom:30px;
    }

    .filaT:first-child{
        margin-top: 20px;
    }

    .texto{
        flex:1;
        width: 100%;
        box-sizing: content-box;
        border-radius: 8px;
        font-size: 20px;
    }
    .column{
        max-width: 1080px;
        height:560px;
        box-sizing:border-box;
        flex-grow: 1;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;

    }
    .col {

        height: 175px;
        width: 16%;
        border-radius: 90px;
        text-decoration: none;
        font-size:30px;

    }

    .col a {
        text-decoration: none; /* Remove underline */
        color:#e8e6e3; /* Set your desired link color */
        
    }

    .video{
        width:auto;

    }

    
    .pie{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    .box{
        text-align: center;
        padding:10px;

    }
    
}